/* footer desktop */
@media screen and (min-width: 1158px) {
  .container-foot {
    max-width: 1158px;
    padding: 0 15px;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-logo-item {
    width: 264px;
    margin-right: 120px;
  }

  .footer-social {
    width: 208px;
    margin-right: 83px;
  }

  .footer-form-container {
    width: 453px;
    margin-left: auto;
  }

  .footer-text {
    margin: 0;
  }
}