/* ========== HEADER (mobile) ========== */
.padge-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .header-logo-color {
  color: #2e2f42;
}

/* mobile: menu and address hidden */
.header-menu-list,
.address {
  display: none;
}

/* burger visible on mobile */
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/* ========== HEADER (tablet 768+) ========== */
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .address {
    display: block;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-list {
    font-size: 12px;
    display: block;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* links */
.header-menu-link {
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.active {
  position: relative;
  color: #404bbf;
}

.header-menu-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-menu-link:hover,
.header-menu-link:focus,
.address-list:hover,
.address-list:focus {
  color: #404bbf;
}

/* ========== HEADER (desktop 1158+) ========== */
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contact-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .address-list {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}